.App {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #E4E6ED;
}

.container {
  padding: 0 200px;
}

.header {
  position: sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 32px;
  margin-bottom: 30px;

  height: 61px;
  width: 100wh;

  background-color: #141522;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.main {
  //background-image: url('assets/img/background.jpg');
  //background-repeat: no-repeat;
  //background-size: contain;

  height: 200vh;
}
